Repository microsoft/maro, pull requests merged in 2020-12, with the labels that each got.

#208 fix issue that sometimes there is conflict between distutils and setuptools
  .github/linters/tox.ini
  setup.py
Labels: awaiting review, in progress

#215 Bug fix: event buffer issue that cause Actions cannot be passed into business engine
  maro/event_buffer/cascade_event.py
  maro/event_buffer/event_linked_list.py
  tests/test_event_buffer.py
Labels: awaiting review

#199 V0.2 datacenter data pipeline
  examples/vm_scheduling/best_fit/config.yml
  examples/vm_scheduling/best_fit/launcher.py
  examples/vm_scheduling/random/config.yml
  examples/vm_scheduling/random/launcher.py
  maro/cli/data_pipeline/data_center.py
  maro/cli/data_pipeline/data_process.py
  maro/cli/data_pipeline/vm_scheduling.py
  maro/simulator/scenarios/citi_bike/business_engine.py
  maro/simulator/scenarios/data_center/business_engine.py
  maro/simulator/scenarios/data_center/meta/source_urls.yml
  maro/simulator/scenarios/data_center/physical_machine.py
  maro/simulator/scenarios/data_center/topologies/azure.2019.original/config.pm.size.yml
  maro/simulator/scenarios/data_center/topologies/azure.2019.original/config.yml
  maro/simulator/scenarios/vm_scheduling/__init__.py
  maro/simulator/scenarios/vm_scheduling/business_engine.py
  maro/simulator/scenarios/vm_scheduling/common.py
  maro/simulator/scenarios/vm_scheduling/cpu_reader.py
  maro/simulator/scenarios/vm_scheduling/events.py
  maro/simulator/scenarios/vm_scheduling/frame_builder.py
  maro/simulator/scenarios/vm_scheduling/meta/cpu_readings.yml
  maro/simulator/scenarios/vm_scheduling/meta/source_urls.yml
  maro/simulator/scenarios/vm_scheduling/meta/vmtable.yml
  maro/simulator/scenarios/vm_scheduling/physical_machine.py
  maro/simulator/scenarios/vm_scheduling/topologies/azure.2019.10k/config.yml
  maro/simulator/scenarios/vm_scheduling/topologies/azure.2019.336k/config.yml
  maro/simulator/scenarios/vm_scheduling/topologies/azure.2019.original/config.yml
  maro/simulator/scenarios/vm_scheduling/virtual_machine.py
  notebooks/data_center/VM Data Analytics.ipynb
  tests/vm_scheduling/test_vm_scheduling_scenario.py
Labels: data center, in progress, v0.2

#218 best fit example: update the usage of snapshot
  examples/vm_scheduling/best_fit/launcher.py
Labels: awaiting review, vm scheduling

#221 V0.2 local host process
  maro/cli/maro.py
  maro/cli/process/agent/job_agent.py
  maro/cli/process/create.py
  maro/cli/process/delete.py
  maro/cli/process/deployment/process_job_deployment.yml
  maro/cli/process/deployment/process_schedule_deployment.yml
  maro/cli/process/deployment/process_setting_deployment.yml
  maro/cli/process/executor.py
  maro/cli/process/job.py
  maro/cli/process/schedule.py
  maro/cli/process/template.py
  maro/cli/process/utils/default_param.py
  maro/cli/process/utils/details.py
  maro/cli/utils/examples.py
  maro/cli/utils/params.py
  maro/utils/exception/cli_exception.py
Labels: awaiting review, v0.2

#220 V0.2 grass on premises
  docs/source/index.rst
  docs/source/installation/grass_cluster_provisioning_on_premises.rst
  maro/cli/grass/create.py
  maro/cli/grass/data.py
  maro/cli/grass/delete.py
  maro/cli/grass/executors/grass_executor.py
  maro/cli/grass/executors/grass_on_premises_executor.py
  maro/cli/grass/image.py
  maro/cli/grass/job.py
  maro/cli/grass/lib/deployments/internal/grass-on-premises-create.yml
  maro/cli/grass/lib/deployments/internal/grass-on-premises-node.yml
  maro/cli/grass/lib/scripts/create_user.py
  maro/cli/grass/lib/scripts/delete_master_details.py
  maro/cli/grass/lib/scripts/delete_user.py
  maro/cli/grass/lib/scripts/utils.py
  maro/cli/grass/node.py
  maro/cli/grass/schedule.py
  maro/cli/grass/status.py
  maro/cli/grass/utils/copy.py
  maro/cli/maro.py
  maro/cli/utils/checkers.py
  maro/cli/utils/examples.py
Labels: v0.2

#189 V0.2 vm scheduling scenario
  examples/vm_scheduling/best_fit/config.yml
  examples/vm_scheduling/best_fit/launcher.py
  examples/vm_scheduling/random/config.yml
  examples/vm_scheduling/random/launcher.py
  maro/cli/data_pipeline/data_process.py
  maro/cli/data_pipeline/vm_scheduling.py
  maro/simulator/core.py
  maro/simulator/scenarios/cim/business_engine.py
  maro/simulator/scenarios/citi_bike/business_engine.py
  maro/simulator/scenarios/vm_scheduling/__init__.py
  maro/simulator/scenarios/vm_scheduling/business_engine.py
  maro/simulator/scenarios/vm_scheduling/common.py
  maro/simulator/scenarios/vm_scheduling/cpu_reader.py
  maro/simulator/scenarios/vm_scheduling/events.py
  maro/simulator/scenarios/vm_scheduling/frame_builder.py
  maro/simulator/scenarios/vm_scheduling/meta/cpu_readings.yml
  maro/simulator/scenarios/vm_scheduling/meta/source_urls.yml
  maro/simulator/scenarios/vm_scheduling/meta/vmtable.yml
  maro/simulator/scenarios/vm_scheduling/physical_machine.py
  maro/simulator/scenarios/vm_scheduling/topologies/azure.2019.10k/config.yml
  maro/simulator/scenarios/vm_scheduling/topologies/azure.2019.336k/config.yml
  maro/simulator/scenarios/vm_scheduling/virtual_machine.py
  notebooks/data_center/VM Data Analytics.ipynb
  requirements.dev.txt
  tests/data/vm_scheduling/cpu_readings.yml
  tests/data/vm_scheduling/vm_cpu_readings-file-1-of-test.bin
  tests/data/vm_scheduling/vm_cpu_readings-file-1-of-test.csv
  tests/data/vm_scheduling/vm_cpu_readings-file-2-of-test.bin
  tests/data/vm_scheduling/vm_cpu_readings-file-2-of-test.csv
  tests/data/vm_scheduling/vm_cpu_readings-file-3-of-test.bin
  tests/data/vm_scheduling/vm_cpu_readings-file-3-of-test.csv
  tests/requirements.test.txt
  tests/vm_scheduling/test_vm_scheduling_scenario.py
Labels: in progress, v0.2, vm scheduling

#226 V0.2 docs process mode
  docs/source/installation/grass_cluster_provisioning_on_premises.rst
  docs/source/installation/single_host_provisioning_on_multiprocess.rst
Labels: awaiting review, v0.2

#228 V0.2 VM scheduling docs
  docs/source/images/scenario/vm.energy_curve.svg
  docs/source/index.rst
  docs/source/scenarios/vm_scheduling.rst
Labels: v0.2, vm scheduling, 📚 doc

#231 v0.2 VM Scheduling docs refinement
  docs/source/scenarios/vm_scheduling.rst
Labels: v0.2, vm scheduling, 📚 doc
