Repository microsoft/maro, pull requests merged in 2021-01, with the labels that each got.

#240 V0.2 info update
  CITATION
  README.md
  docs/source/images/badges/vm_scheduling.svg
  docs/source/images/scenario/cim_vis.gif
  maro/__misc__.py
Labels: in progress

#246 V0.2 vm oversubscription
  maro/cli/data_pipeline/vm_scheduling.py
  maro/simulator/scenarios/vm_scheduling/__init__.py
  maro/simulator/scenarios/vm_scheduling/business_engine.py
  maro/simulator/scenarios/vm_scheduling/common.py
  maro/simulator/scenarios/vm_scheduling/enums.py
  maro/simulator/scenarios/vm_scheduling/events.py
  maro/simulator/scenarios/vm_scheduling/meta/source_urls.yml
  maro/simulator/scenarios/vm_scheduling/meta/vmtable.yml
  maro/simulator/scenarios/vm_scheduling/physical_machine.py
  maro/simulator/scenarios/vm_scheduling/topologies/azure.2019.10k/config.yml
  maro/simulator/scenarios/vm_scheduling/topologies/azure.2019.336k/config.yml
  maro/simulator/scenarios/vm_scheduling/virtual_machine.py
Labels: awaiting review, v0.2, vm scheduling

#257 V0.2 vm scheduling decision event
  maro/simulator/scenarios/vm_scheduling/business_engine.py
  maro/simulator/scenarios/vm_scheduling/common.py
Labels: awaiting review, v0.2, vm scheduling

#172 V0.2 backend dynamic node support
  .github/linters/tox.ini
  .github/workflows/build_wheel.yml
  .github/workflows/deploy_docker_image.yml
  .github/workflows/deploy_gh_pages.yml
  .github/workflows/test.yml
  docs/source/key_components/data_model.rst
  maro/backends/_raw_backend_.pyx
  maro/backends/_raw_backend_attr_acc_.pyx.tml
  maro/backends/backend.pxd
  maro/backends/backend.pyx
  maro/backends/frame.pxd
  maro/backends/frame.pyx
  maro/backends/np_backend.pxd
  maro/backends/np_backend.pyx
  maro/backends/raw/attribute.cpp
  maro/backends/raw/attribute.h
  maro/backends/raw/bitset.cpp
  maro/backends/raw/bitset.h
  maro/backends/raw/common.h
  maro/backends/raw/frame.cpp
  maro/backends/raw/frame.h
  maro/backends/raw/node.cpp
  maro/backends/raw/node.h
  maro/backends/raw/snapshotlist.cpp
  maro/backends/raw/snapshotlist.h
  maro/backends/raw_backend.pxd
  maro/backends/raw_backend.pyx
  maro/simulator/scenarios/cim/ports_order_export.py
  maro/utils/exception/backends_exception.py
  maro/utils/exception/error_code.py
  scripts/build_sdist.bat
  scripts/build_sdist.sh
  scripts/code_gen.py
  scripts/compile_cython.bat
  scripts/compile_cython.sh
  setup.py
  tests/cim/test_cim_scenario.py
  tests/citi_bike/test_bike_scenario.py
  tests/performance.py
  tests/requirements.test.txt
  tests/test_env.py
  tests/test_frame.py
  tests/test_snapshot.py
  tests/utils.py
Labels: awaiting review

#256 V0.2 vm oversub docs
  docs/source/scenarios/vm_scheduling.rst
Labels: v0.2, vm scheduling, 📚 doc

#268 change the way to build maro
  .github/workflows/build_wheel.yml
  .github/workflows/deploy_docker_image.yml
  .github/workflows/deploy_gh_pages.yml
  .github/workflows/test.yml
  maro/backends/raw_backend.pyx
  scripts/compile_cython.bat
  scripts/compile_cython.sh
Labels: awaiting review
